absl-py               
annotated-types    
anyio                
attrs                
certifi              
cffi                 
charset-normalizer    
click                 
colorama              
contourpy             
cycler                
dm-tree             
exceptiongroup       
fastapi               
flatbuffers           
fonttools            
h11                   
h5py                  
idna                  
importlib-resources   
joblib                
keras                
keras-core            
keras-tuner         
kiwisolver            
kt-legacy             
markdown-it-py        
matplotlib            
mdurl                 
mediapipe             
namex                 
numpy                 
opencv-contrib-python 
opencv-python         
packaging             
pandas                
Pillow                
pip                   
protobuf              
pycparser             
pydantic              
pydantic_core         
Pygments             
pyparsing             
python-dateutil       
python-multipart      
pytz                  
requests              
rich                  
scikit-learn          
scipy                 
setuptools            
six                   
sniffio               
sounddevice           
starlette             
threadpoolctl         
typing_extensions     
tzdata                
urllib3               
uvicorn              
wheel                 
zipp                 
